.root{
	-fx-background-color:"LIGHTBLUE";
	
}
.label{
	-fx-font-size:15;
	-fx-font-family:"Lucida Console"
}
.button {
  -fx-background-color: "BLUE"; /* Green */
  -fx-border: none;
  -fx-padding: 10px 15px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
}
#labal1{
	
}
#arrow{
	-fx-background-color:"RED";
}
