/*JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx- Property */
.root{
	-fx-background-image: url("/View/instBackground.jpg");	
	-fx-background-size:cover;
}
#backButton{
-fx-background-color:white;
-fx-font-weight:bold;

}
.Text{
-fx-font-weight:bold;
}