/*JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx- Property */
.root{
	-fx-background-image:url('/View/Images/backgroundInsta1.jpg"');
	-fx-background-size:cover;
	
	}
#backButton{
-fx-font-weight:bold;


}
Button:valid {
    -fx-background-color: green;
}